{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron bg-transparent">
        <div align="center">
            <h1 class="name"><font color="white">Bio</font></h1>
        </div>
    </div>
    <h3><font color="white">Alan Castilleja</font></h3>
    <h6><font color="white">Fellow at Insight Data Science</font></h6>
    <h4><font color="white">Python 3 | Flask | SQLAlchemy | R | PostgresSQL | HTML5 | CSS | Bootstrap | Linux | GIMP | Inkscape | dplyr | tidyverse | ggplot2 | Economics</font></h4>
    <p><font color="white">A professional with many hats and titles. I've done web development, blockchain, data analysis,
        teaching, etc. I really do not know what I am supposed to be. However, when I started learning Python, I wanted to make something of my own from scratch. This website is a product of that. I made the background in Inkscape and this site utilizes the Flask microframework.
        As I continue to learn more, I want to continue to create different types of projects and see where this road leads me. </font></p>
</div>



{% endblock %}